body{
    background-color: antiquewhite;
}
#titulo{
    color: red;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lista{
    border-radius: ;
}
#imagem{
    border-radius: 20%;
}